.user-data {
  margin-left: auto;
  position: relative;
  padding-right: 10px;
}
.user-data-menu {
  padding-right: 10px;
}
.googleSignIn {
  display: flex;
  justify-content: center;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}
